APP_NAME=LinkBuck
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

# Configuración de Base de Datos
# El profesor deberá completar estas credenciales según su entorno local
DB_CONNECTION=mariadb
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=linkbuck
DB_USERNAME=root
DB_PASSWORD=

# Drivers de sesión y caché
SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_STORE=database

# URLs de APIs externas
BOOK_ARCHIVE_URL=https://openlibrary.org

# Otras configuraciones por defecto de Laravel
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
MAIL_MAILER=log